.about-project__text {
  max-width: 550px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .about-project__text {
    max-width: 319px;
  }
}

@media screen and (max-width: 700px) {
  .about-project__text {
    max-width: none;
  }
}
