.header__account_opened {
  display: flex;
  position: absolute;
  bottom: 92px;
  right: calc((72% - 125px) / 2);
}

@media screen and (max-width: 520px) {
  .header__account_opened {
    bottom: 48px;
    right: calc((100% - 100px) / 2);
  }
}
