.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

@media screen and (max-width: 700px) {
    .footer__nav {
        padding-top: 30px;
        flex-direction: column-reverse;
        gap: 30px;
    }
  }