.search__button {
  width: 58.65px;
  height: 34px;
  background: #f2f2f2;
  border: none;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #000;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: not-allowed;
}